.App {
  text-align: center;
}

.App-header {
  background-color: #dcc5e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.profile {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  padding: 10px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 10px; /* Adjust spacing between images */
  padding: 20px;
  justify-items: center; /* Center images */
}

.img {
  width: 100%;  /* Fill the container */
  height: 100%; /* Make height match width */
  max-width: 300px; /* Prevent images from being too large */
  aspect-ratio: 1 / 1; /* Forces a square aspect ratio */
  border-radius: 10px; /* Optional: add rounded corners */
  object-fit: cover; /* Ensures images maintain aspect ratio while filling */
}

.App-link {
  color: #61dafb;
}
